:host {
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 0 0 1px;
  display: block;
  padding: 20px 16px 1px;
}

nav a {
  color: #8f8f8f;
  font-size: 12px;
  font-weight: bold;
  line-height: 48px;
  margin-right: 20px;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

nav a.router-link-active {
  color: black;
  text-decoration: underline;
}

#message {
  padding: 8px 15px;
  border-radius: 3px;
  margin: 0 0 0px;
  border: 1px solid #ccc;
  position: relative;
}

#message.good {
  background: #eaf4ef;
  border-color: #99ccb2;
}

.good {
  color: #396;
}