<div class='status-heading'>We continuously monitor the status of AppName and all its related services. 
    If there are any interruptions in service, a note will be posted here.
</div>
<div class='status-date'>It is currently {{clock | async | date:'jms'}}, {{clock | async | date:'yMd'}}</div>


<status-detail [status]="status" [lastPinged]="lastPinged"></status-detail>
<button (click)="getAllStatus()">Ping All Servers</button> <last-ping [ngClass]="'last-fetch'" [lastPinged]="lastPinged"></last-ping>
