<div class='status-heading'>
    <h4>What is this site?</h4>
</div>
<md-divider></md-divider>
<p class="details">We continuously monitor the status of <a target="_blank" href="/E Corp/">E Corp</a> and all its related services. 

<div class='status-date'>It is currently {{clock | async | date:'yMd'}}, {{clock | async | date:'jms'}}</div>

<div class='status-heading'>
    <h4>What do we monitor?</h4>
</div>
<md-divider></md-divider>

<status-detail [status]="status" [loadedInput]="loadedValue"></status-detail>

<fetch-button (click)="loadingMsgValue == 'Fetch' ? getAllStatus() : none" 
    [loadingMsgInput]="loadingMsgValue" [errorLoadMsgInput]="errorMessage"></fetch-button>