/*This is the only way we can target the host element. We cannot reach it from inside the component with other selectors, 
because it is not part of the component's own template. It is in a parent component's template. 
:host selector will target styles in the element that hosts the component. This applys to status-details because
it is part of the status.component.ts
*/
:host {
  display: block;
  font-family: Helvetica,​Helvetica,​Arial,​sans-serif;
  margin: 0 auto;
  max-width: 800px;
}

.status-date {
  float: right;
  vertical-align: middle;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  font-stretch: condensed;
  color: #727272;
  margin-top: 24px;
}