:host {
  display: block;
  font-family: Helvetica,​Arial,​sans-serif;
}

.server-report-loading {
  opacity: 0.5; 
}

.service-title {
  font-family: Helvetica,​Arial,​sans-serif;
}
.status-enabled {
  text-transform: uppercase;
  color: black;
}

.status-disabled {
  text-transform: uppercase;
  color: #999999;
}

.status-green {
  color: #396;
  margin-bottom: 20px;
}

.status-yellow {
  color: #ff9900;
  margin-bottom: 20px;
}

.status-red {
  color: #ff0000;
  margin-bottom: 20px;
}

.status-none {
  color: #bfbfbf;
  margin-bottom: 20px;
}