:host {
  background-color: white;
  display: block;
  height: 65px;
  padding: 20px 0px 1px;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", 'Arial Narrow', Arial, sans-serif
}

a {
  color: black;
  display: inline;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.1px;
  line-height: 48px;
  text-decoration: none;
}

b {
  color: gray;
  float: right;
  height: 65px;
  text-transform: uppercase;
}
.title-color {
  color: black;
}

.status-color {
  color: green;
}

.logo-image{
  position: relative;
  left: 32%;
}